Archivos de Python
pycache/ *.py[cod] *$py.class

Entornos Virtuales
venv/ .venv/ env/ .env_venv/

Secretos y Configuracion Local
.env .env.local .secrets

Testing y Cobertura
.pytest_cache/ .tox/ .coverage htmlcov/ .__pycache__/

Empaquetado y Distribucion
build/ dist/ *.egg-info/

Entornos de Desarrollo (IDEs) y SO